<mat-toolbar class="container-fluid headers " color="blue">
  <mat-toolbar-row class="row d-flex justify-content-center headers-row">
    <div class="col-lg-7 row d-flex justify-content-center flex-lg-nowrap">
      <button mat-raised-button class="col-lg-3" color="warn"  routerLink="/">Домой</button>
      <button mat-raised-button class="col-lg-3" color="primary"  routerLink="/companies">Компании</button>
      <button mat-raised-button class="col-lg-3" color="accent" routerLink="/products">Продукты</button>
      <button mat-raised-button class="col-lg-3" color="yellow" routerLink="/owners">Владельцы компаний</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container-fluid main">
  <div class="row d-flex justify-content-center main-row">
    <router-outlet></router-outlet>
  </div>
</div>

